body {
    background: #333;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
}

h3,
p,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form {
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px auto;
    width: 90%;
    max-width: 800px;
    background: #555;
    padding: 10px;
    color: #999;
}

.form-op {
    text-align: center;
}

.form-title,
.form-desc {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    background: none;
    color: #fff;
}

.form-title:hover,
.form-desc:hover,
.form-title:focus,
.form-desc:focus {
    background: #444;
}

.form-title {
    font-size: 18px;
    height: 30px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.form-desc {
    resize: none;
    height: 40px;
}

.form-ok,
.form-cancel {
    box-sizing: border-box;
    border: 0;
    background: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
}

.form-ok {
    color: #60a917;
}

.form-cancel {
    color: #e51400;
}

